<html>

    <body>

        <nav>

            {% for i in categories %}

                <h2>
                    <a href="{{url_for('category', category_id = i.id)}}">{{i.name}}</a>
                </h2>

            {% endfor %}

            {% with messages = get_flashed_messages() %}
                {% if messages %}

                    <ul>
                        {% for message in messages %}
                            <li><strong>{{message}}</strong></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <a href="{{url_for('newCategory')}}">Add a new category</a>

            <br><br>
        </nav>

        <section>
            {% if items %}
                <header>Latest items</header>
            {% endif %}

            {% for i in items %}
                <p>{{i.name}}</p>
            {% endfor %}
        </section>

    </body>

</html>
